@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: poppins1;
    src: url(Poppins/Poppins-Light.ttf);
}

.project h1 {
    font-family: poppins;
}

.project p {
    font-family: poppins1;
}

footer, h5 {
    font-family: poppins;
}

.kata1, .kata2, .link1, .link2 {
    font-family: poppins1;
}

.link1, .link2 {
    text-decoration: none;
    color: black;
}

.link1:hover, .link2:hover {
    color: rgb(128, 120, 120);
}